p{
  font: "Times New Roman";
  font-size: 12px;
}
h1{
  text-align: center;
  font: "Times new roman";
  font-size: 50px;
}
html,body{
  width: 100%;
  margin: 0;
  background-color: #d9e1f9;
}
#outlier{
  width: 75%;
  margin: 0 auto;
}
