p{
  font: "Times New Roman";
  font-size: 12px;
}
h1{
  text-align: center;
  font: "Times new roman";
  font-size: 50px;
}
html,body{
  width: 100%;
  margin: 0;
  background-color: #4169e1;
}
#outlier{
  width: 80%;
  left: 10%;
}
