p{
  font: "Times New Roman";
  font-size: 16px;
}
h1{
  text-align: center;
  font: "Times new roman";
  font-size: 50px;
}
html,body{
  width: 100%;
  margin: 0;
  background-color: #ffffff;
}
#outlier{
  width: 75%;
  margin: 0 auto;
}
.navbar{
  background-color: #0000f0;
  overflow: hidden;
}
.navbar a{
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}
.navbar a:hover{
  background-color: #0000c0;
  color: black;
}
.navbar a.active{
  background-color: #0000a0;
  color: white;
}
